<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.reports.automation.LoginUserAndPassNone"/>
      <class name="com.reports.automation.LoginFailed"/>
      <class name="com.reports.automation.LoginExitoso"/>
      <class name="com.reports.automation.LoginPassNone"/>
      <class name="com.reports.automation.LoginUserNone"/>
      <class name="com.reports.automation.LoginUserFail"/>
      <class name="com.reports.automation.LoginPassFail"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
